.DS_Store
# Jupyter
.ipynb_checkpoints/

# Temporary notebooks
Untitled.ipynb

# macOS
.DS_Store

# Generated images
chart.png

# Airbnb Project - Local SQLite database
08_Projects/Project_02_Airbnb_Business_Intelligence/Airbnb_NYC.db

# Airbnb raw datasets
08_Projects/Project_02_Airbnb_Business_Intelligence/Dataset/*.csv
08_Projects/Project_02_Airbnb_Business_Intelligence/Dataset/*.gz